<?xml version="1.0"?>
<configuration>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <!-- THE IDENTITY HUB SPECIFIC CONFIG -->
        <add key="baseUrl" value="" />
        <add key="clientId" value="" />
        <add key="clientSecret" value="" />
        <!-- unauthorizedAction: 'redirect' for web applications (default), 'www-authenticate' for (api) services. -->
        <add key="unauthorizedAction" value="www-authenticate" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" />
        <authentication mode="None"></authentication>
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBindingWcfService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="BasicAuthWcfService.BasicAuthWcfServiceService">
                <endpoint address="" binding="basicHttpBinding"
                    bindingConfiguration="basicHttpBindingWcfService" contract="BasicAuthWcfService.IBasicAuthWcfServiceService" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceAuthorization principalPermissionMode="Custom">
                        <authorizationPolicies>
                            <add policyType="TheIdentityHub.HubAuthorizationPolicy, TheIdentityHub" />
                        </authorizationPolicies>
                    </serviceAuthorization>
                    <serviceAuthenticationManager serviceAuthenticationManagerType="TheIdentityHub.HubServiceAuthenticationManager, TheIdentityHub" />
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <errorHandler />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <!-- Uncomment this to have better http status returned when not authorized (HTTP 401)-->
        <extensions>
            <behaviorExtensions>
                <add name="errorHandler" type="BasicAuthWcfService.ServiceErrorHandlerBehaviour, BasicAuthWcfService" />
            </behaviorExtensions>
        </extensions>
        <protocolMapping>
            <add binding="basicHttpBinding" scheme="https" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <!-- THE IDENTITY HUB SPECIFIC CONFIG -->
            <remove name="FormsAuthentication" />
            <add name="HubAuthenticationModule" type="TheIdentityHub.HubAuthenticationModule, TheIdentityHub, Version=1.3.0.0, Culture=neutral, PublicKeyToken=25fd43e98a2121e5" />
        </modules>
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
        <directoryBrowse enabled="false" />
        <security>
            <authentication>
                <basicAuthentication enabled="false" />
            </authentication>
        </security>
    </system.webServer>
    <system.diagnostics>
        <sources>
            <source name="TheIdentityHub.AspNetSdk45" switchValue="Verbose">
                <listeners>
                    <add name="LocalDiagnostics" />
                </listeners>
            </source>
        </sources>
        <trace autoflush="true">
            <listeners>
                <add name="LocalDiagnostics" />
            </listeners>
        </trace>
        <sharedListeners>
            <add name="LocalDiagnostics" type="System.Diagnostics.TextWriterTraceListener" initializeData="" traceOutputOptions="DateTime" />
        </sharedListeners>
    </system.diagnostics>
</configuration>